<div class="main-root">
  <div class="container-fluid header-section"></div>

  <div class="container wh-100 d-flex justify-content-center align-items-center bd-holder">
    <div class="register-window">
      <div class="text-center logo-div">
        <img src="assets/Logo.png">
      </div>

      <div [formGroup]="registerForm" (keyup)="regesterOnEnterKey($event)">

        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Enter Name</mat-label>
          <mat-icon matSuffix>person</mat-icon>
          <input type="text" matInput id="name" formControlName="name" required autocomplete="off">
          <mat-error *ngIf="registerForm.controls.name.hasError('required')" align="end">Field is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Enter Nick Name</mat-label>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <input type="text" matInput id="nickname" formControlName="nickname" required>
          <mat-error *ngIf="registerForm.controls.nickname.hasError('required')" align="end">Field is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Enter Email</mat-label>
          <mat-icon matSuffix>mail</mat-icon>
          <input type="tel" matInput id="mail" formControlName="email" required>
          <mat-error
            *ngIf="registerForm.controls.email.hasError('required') || registerForm.controls.email.hasError('email')"
            align="end">Please enter a valid email</mat-error>
          <mat-hint style="color:red;" *ngIf="emailexists">Email Exists</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-100">
          <mat-label>Enter Password</mat-label>
          <mat-icon matSuffix>security</mat-icon>
          <input type="password" matInput id="pass" formControlName="password" required>
          <mat-error *ngIf="registerForm.controls.password.hasError('required')" align="end">Field cannot be empty
          </mat-error>
        </mat-form-field>
        <button type="submit" (click)="userRegister()" mat-raised-button class="width-100 login-button"
          [ngClass]="{disabledBtn: regBtnDisabled}" [disabled]="regBtnDisabled">REGISTER</button>

      </div>

      <div class="text-center mt-5">
        <p class="text-muted">Already have an Account ? <a [routerLink]="['/login']">Signin</a></p>
      </div>

      <mat-progress-spinner *ngIf="showProgressspinner" class="mat-spinner-color" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>

</div>
<app-verification-sent *ngIf="isRegSuccess"></app-verification-sent>
