<div class="container-fluid relative">
  <div class="title text-center mb-2 mt-1">
    <img src="../../../../assets/Logo.png" class="logo  mt-1">
    <span class="text-secondary title-text">UPDATES</span>
  </div>
  <div class="container window">
    <div class="row">
      <div class="col-md-6">
        <div class="thread-heading-title bg-success mb-3">
          <h4 class="text-center text-white p-1">New</h4>
        </div>
        <div class="thread bg-light new-thread">
          <div class="badge badge-secondary new-status">New</div>
          <ul>
            <li>
              <p class="thread-text">Added Profile Section</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thread-heading-title bg-dark mb-3">
          <h4 class="text-center text-white p-1">Upcoming</h4>
        </div>
        <div class="thread bg-light upcoming-thread">
          <ul>
            <li>
              <p class="thread-text">Seen Unseen Feature</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
