<div class="profile-holder">
  <div class="profile-inner">

    <div class="title text-center pt-1 d-flex align-items-center justify-content-center">
      <button class="back-btn-frpr" mat-icon-button [routerLink]="['/chatapplication/welcome']">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <img src="assets/Logo.png" class="logo">
      <span class="text-secondary title-text">PROFILE</span>
    </div>

    <div class="over-flow scroll_style profile-grid">

      <div class="d-flex align-items-center justify-content-center mt-3">
        <div class="profile-pic">
          <img *ngIf="(currentUser |async).profilepic" [src]="profilepic|async" class="profile-pic-box">
          <img *ngIf="!(currentUser |async).profilepic" src="assets/user.svg" class="profile-pic-box">
          <input type="file" hidden #file (change)="changeProfilepic($event)">
          <button mat-icon-button class="btn-select" (click)="file.click()">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>

      <div class="edit-profile-data margin-btm mt-3">

        <div class="form-edit">
          <p class="text-center font-weight-light font-size">EDIT PROFILE</p>
          <form [formGroup]="profilEditForm">
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="Nickname" formControlName="nickname">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput type="text" placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput type="password" placeholder="Old Password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput [type]="isVisible ? 'text' : 'password'" placeholder="New Password"
                formControlName="newpassword">
              <button mat-icon-button matSuffix (click)="isVisible = ! isVisible">
                <mat-icon>{{isVisible? 'visibility': 'visibility_off'}}</mat-icon>
              </button>
            </mat-form-field>
          </form>
          <button class="btn btn-light btn-block mt-3" (click)="saveChanges()">Save Changes</button>
        </div>

        <div class="box">
          <p class="text-center font-weight-light font-size mb-5 p-info">PROFILE INFO</p>
          <p class="font-weight-400 text-muted">Name</p>
          <p>{{(currentUser | async).name}}</p>
          <p class="font-weight-400 text-muted">NickName</p>
          <p>{{(currentUser | async).nickname}}</p>
          <p class="font-weight-400 text-muted">Email</p>
          <div class="flex">
            <p>{{(currentUser | async).email}}</p>
            <i class="material-icons ml-2 verefied text-success">check_circle</i>
          </div>
        </div>
      </div>

      <hr>

      <div class="mt-4 mb-3">
        <p class="text-center font-weight-light font-size">PROFILE CONFIG & SECURITY</p>

        <mat-card class="mb-2 bg-light d-flex justify-content-between align-items-center">
          <p class="text-left">Turn on Email Security</p>
          <mat-slide-toggle color="primary"></mat-slide-toggle>
        </mat-card>

        <mat-card class="mb-2 bg-light d-flex justify-content-between align-items-center">
          <p class="text-left">Show NickName on top Left bar</p>
          <mat-slide-toggle color="primary" [checked]="(cfgData|async).nicknametop" (click)="nicknametop = !nicknametop"
            (click)="updateConfig()"></mat-slide-toggle>
        </mat-card>

        <mat-card class="mb-2 bg-light d-flex justify-content-between align-items-center">
          <p class="text-left">Enable Searchbar</p>
          <mat-slide-toggle color="primary" [checked]="(cfgData|async).searchbar"
            (click)="searchbar = ! searchbar; updateConfig()">
          </mat-slide-toggle>
        </mat-card>

        <mat-card class="mb-2 bg-light d-flex justify-content-between align-items-center">
          <p class="text-left">Get latest emails</p>
          <mat-slide-toggle color="primary" [checked]="(cfgData|async).latestupdates"
            (click)="latestupdates = ! latestupdates; updateConfig()"></mat-slide-toggle>
        </mat-card>
      </div>



    </div>

  </div>
</div>

<!--


-->
