<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand"><img src="../../../assets/Logo.png" class="nav-logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Team</a>
      </li>
      <li class="nav-item" [routerLink]="['/register']">
        <a class="nav-link btn signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>

<section class="details-body mt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 titles flex-center mb-5 mt-1">
        <div>
          <p class="main-title mb-1">Chat Application for Modern Era</p>
          <p class="sub-title mb-3">go online for free</p>
          <button class="get-started">Get Started</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/vector-home.png" class="img-fluid mt-3">
      </div>
    </div>
  </div>
  <img src="../../../assets/scroll.png" class="scroll-img">
</section>

<section class="about-section mt-5">
  <div class=" row ab-sections text-white text-center">
    <div class="col-md-4">
      <i class="material-icons about-logos">
        check_circle
      </i>
      <h1>Reliability</h1>
      <p>Reliability is the first priority of our application is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="col-md-4">
      <i class="material-icons about-logos">
        security
      </i>
      <h1>Performance</h1>
      <p>Reliability is the first priority of our application is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's</p>
    </div>
    <div class="col-md-4">
      <i class="material-icons about-logos">
        play_circle_outline
      </i>
      <h1>Free service</h1>
      <p>Reliability is the first priority of our application is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's</p>
    </div>
  </div>
</section>
