<div *ngIf="load==100" [ngClass]="{'fadeIn': load==100}">
  <!-- <img src="assets/chat-app-bg.png" class="img-bg"> -->
  <div class="root d-flex align-items-center justify-content-center">
    <div class="main-window">
      <div class="bar-holder d-flex align-items-center justify-content-center">
        <i class="fa fa-bars" (click)="slideLeftBar('toggle')"></i>
      </div>

      <div class="left-side" #left>
        <div class="inner-left">

          <div class="search-box d-flex align-items-center justify-content-center">
            <div class="search-bar" *ngIf="(cfgData|async).searchbar">
              <input type="text" class="search-bar-input" placeholder="Search" [(ngModel)]="searchData"
                (keyup)="searchUser()">
              <i class="fas fa-search search-icon"></i>
            </div>
          </div>

          <div class="online-users">

            <!-- <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div>

            <div class="user">
              <img src="assets/users/customer01.png" class="default-user-images">
              <div class="name-last-msg">
                <p>William bens</p>
                <p>This is a message</p>
              </div>
              <div class='online-status'></div>
            </div> -->

            <ng-container *ngIf="filterUser.length===0">
              <!-- <div class="alert-noUsers text-center" *ngIf="onlineUsers.length==0">
                <mat-icon>error_outline</mat-icon>
                <p>No Online users Found</p>
              </div> -->
              <ng-container *ngFor="let user of onlineUsers">

                <div class="user" (click)="userChanged()" [routerLink]="['/chatapplication/', userId, user._id]"
                  routerLinkActive="user-active">
                  <!--<span matBadge="0" matBadgeOverlap="false"></span>-->
                  <img *ngIf="!user.profilepic" src="assets/users/customer01.png" class="default-user-images">
                  <img *ngIf="user.profilepic" src="data:image/png;base64,{{user.profilepic}}"
                    class="default-user-images">
                  <div class="name-last-msg">
                    <p>{{user.name}}</p>
                    <p>This is a message</p>
                  </div>
                  <div [ngClass]="{'online-status': user.loginstatus, 'offline-status': !user.loginstatus}"></div>
                </div>

              </ng-container>
            </ng-container>

            <ng-container *ngIf="filterUser.length>0">
              <ng-container *ngFor="let user of filterUser">
                <div class="user" (click)="userChanged()" [routerLink]="['/chatapplication/', userId, user._id]"
                  routerLinkActive="user-active">
                  <!--<span matBadge="0" matBadgeOverlap="false"></span>-->
                  <img *ngIf="!user.profilepic" src="assets/users/customer01.png" class="default-user-images">
                  <img *ngIf="user.profilepic" src="data:image/png;base64,{{user.profilepic}}"
                    class="default-user-images">
                  <div class="name-last-msg">
                    <p>{{user.name}}</p>
                    <p>This is a message</p>
                  </div>
                  <div [ngClass]="{'online-status': user.loginstatus, 'offline-status': !user.loginstatus}"></div>
                </div>
              </ng-container>
            </ng-container>

          </div>

          <button mat-icon-button [matMenuTriggerFor]="menu" class="settings-logo-btn">
            <img src="assets/settings.svg" class="settings-logo">
          </button>

        </div>
      </div>

      <div class="right-bar" (click)="slideLeftBar('remove')" [ngClass]="{'show': left.classList.contains('slide')}">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>


  <!--Menu for users-->
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/chatapplication/myprofile']" (click)="updateActiveChat()">
      <mat-icon>supervised_user_circle</mat-icon>
      <span class="mr-5">Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span class="mr-5">Logout</span>
    </button>
  </mat-menu>

</div>

<div class="container pBarMain text-center" *ngIf="load!=100">
  <img src="../../../assets/Logo.png" class="logo-loading">
  <mat-progress-bar mode="determinate" value={{load}} color="primary"></mat-progress-bar>
  <small>{{loadText}}</small>
</div>
