<div class="top-bar">
  <div class="active-chat-user">
    <i class="material-icons list-user-logo mr-2">supervised_user_circle</i>
    <p class="list-user-name">{{receiverUser.name}}</p>
    <div class="green-dot ml-3"></div>
  </div>
</div>
<div class="main-messages-window">
  <span *ngFor="let msg of messages">
    <div class="sender" *ngIf="msg.sender==currentUser.name">
      <p>{{msg.msgBody}}</p>
    </div>
    <div class="receiver mr-2" *ngIf="msg.sender!=currentUser.name">
      <p>{{msg.msgBody}}</p>
    </div>
  </span>
</div>
<div class="send-message-form mb-2">
  <input type="text" name="msg" class="msg-input" placeholder="Enter Message" autocomplete="off" [(ngModel)]="msgData">
  <button class="send-button" (click)="sendMessage()" [disabled]="!msgData"><i
      class="material-icons send-icon">send</i></button>
</div>
