<div class="chat-window-holder">
  <div class="main-chat-window">

    <div class="current-msg-person d-flex align-items-center justify-content-center">
      <div class="text-center d-flex align-items-center justify-content-center">
        <img *ngIf="!receiverUser.profilepic;else ppic" src="assets/online-user-logo.svg">
        <ng-template #ppic>
          <img src="data:image/png;base64,{{receiverUser.profilepic}}" class="active-chat-logo">
        </ng-template>
        <span class="active-chat-name">{{receiverUser.name}}</span>
        <span
          [ngClass]="{'online-status': receiverUser.loginstatus,'offline-status': !receiverUser.loginstatus}"></span>
      </div>
    </div>

    <div class="msg-threads-window" ngx-auto-scroll lock-y-offset="10" observe-attributes>

      <div class="load-center text-center" *ngIf="!init">
        <img src="../../../../assets/Logo.png" class="logo-cn">
        <small class="load-text">Initilizing . . .</small>
        <mat-progress-bar mode="determinate" value={{Loadvalue}} color="primary"></mat-progress-bar>
      </div>

      <div class="msg-thread">

        <span *ngFor="let msg of messages">

          <div class="receiver mb-2" *ngIf="msg.sender==receiverUser.name">
            <div class="receiver-options">
              <button class="nbtn"><i class="material-icons msg-options-icons" matTooltip="reply"
                  (click)="replyMsg(msg)">reply</i></button>
            </div>
            <div>

              <div class="receiver-inner" *ngIf="msg.reference!= null && msg.reference.sender==currentUser.name">
                <p class="ml-2">{{msg.reference.msgBody}}</p>
                <small class="time-receiver-specific">{{msg.reference.date | date:"shortTime"}}</small>
              </div>
              <div class="receiver-inner bg-light text-dark border"
                *ngIf="msg.reference!= null && msg.reference.sender==receiverUser.name">
                <p class=" ml-2">{{msg.reference.msgBody}}</p>
                <small class="time-receiver-specific">{{msg.reference.date | date:"shortTime"}}</small>
              </div>

              <p>{{msg.msgBody}}</p>
              <small class="time-sender">{{msg.date | date:"shortTime"}}</small>
            </div>
          </div>

          <div class="sender mb-2" *ngIf="msg.sender==currentUser.name">
            <div>

              <div class="sender-inner" *ngIf="msg.reference != null && msg.reference.sender==receiverUser.name">
                <p class="ml-2">{{msg.reference.msgBody}}</p>
                <small class="time-receiver-specific">{{msg.reference.date | date:"shortTime"}}</small>
              </div>
              <div class="sender-inner bg-light text-dark border"
                *ngIf="msg.reference != null && msg.reference.sender==currentUser.name">
                <p class="ml-2">{{msg.reference.msgBody}}</p>
                <small class="time-receiver-specific">{{msg.reference.date | date:"shortTime"}}</small>
              </div>

              <p>{{msg.msgBody}}</p>
              <small class="time-receiver">{{msg.date | date:"shortTime"}}</small>
              <i class="material-icons" [ngClass]="{'seen-icon': msg.isSeen,'unseen-icon':!msg.isSeen}">
                {{msg.isSeen ? 'done_all' : 'done'}}
              </i>
            </div>
            <div class="sender-options">
              <button class="nbtn"><i class="material-icons msg-options-icons" matTooltip="reply"
                  (click)="replyMsg(msg)">reply</i></button>
              <button class="nbtn"><i class="material-icons msg-options-icons" matTooltip="delete"
                  (click)="deleteMsg(msg)">delete</i></button>
            </div>
          </div>

        </span>

        <div class="sender mb-2">
          <div>
            <p>hi there</p>
            <small class="time-receiver">23.03.2020</small>
            <i class="material-icons seen-icon">
              done_all
            </i>
          </div>
          <div class="sender-options">
            <button class="nbtn"><i class="material-icons msg-options-icons" matTooltip="reply">reply</i></button>
            <button class="nbtn"><i class="material-icons msg-options-icons" matTooltip="delete">delete</i></button>
          </div>
        </div>

        <div class="receiver mb-2">
          <div class="receiver-options">
            <button class="nbtn"><i class="material-icons msg-options-icons" matTooltip="reply">reply</i></button>
          </div>
          <div>

            <p>hey whatsup</p>
            <small class="time-sender">2.5.2020</small>
          </div>
        </div>


      </div>
    </div>

    <div class="input-box-holder d-flex align-items-center justify-content-center">

      <div class="input-box-message-inner">
        <div class="replytoSpecific" *ngIf="rpMSGWindow">
          <div class="inner">
            <p class="ml-2">{{rpBody.slice(0,22)}} ...</p>
            <button class="close" (click)="closerpMsg()">
              <mat-icon>close</mat-icon>
            </button>
            <small class="time-receiver">{{rpDate | date:"HH:mm"}}</small>
          </div>
        </div>

        <input type="text" [ngClass]="{'msg-input-reply-in': rpMSGWindow,'msg-input-reply-out': !rpMSGWindow}"
          name="msg" class="msg-input" placeholder="enter message" autocomplete="off" [(ngModel)]="msgData"
          (keyup)="enterKey($event)">
        <button mat-icon-button class="send-button" (click)="sendMessage()" [disabled]="!msgData">
          <i class="material-icons send-icon">send</i>
        </button>
      </div>

    </div>

  </div>
</div>
