<div class="main">
  <div class="flex-center">
    <div class="em-sent">

      <img class="tick" src="../../../../assets/done-tick-img.png">

      <div class="text-center mt-2 abcd">
        <div class="emailVerified flex-column" *ngIf="isSuccess">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          <h4 class="mt-5 text-success">Email Verified sucessfully</h4>
          <p class="text-success">Redericting shortly</p>
        </div>

        <h2>Please verify your email</h2>
        <p class="mt-3 mb-4">
          We sent a verification code to your email<br>
          <span class="email">{{email}} </span>
          <br>Enter the 6 Digit code from your email to verify your email address in order to get login access
        </p>
        <div class="container mb-4">
          <mat-form-field>
            <mat-label>CODE</mat-label>
            <input matInput name="code" autocomplete="off" [(ngModel)]="codeValue">
            <button matSuffix mat-icon-button color="primary" *ngIf="codeValue.length==6" (click)="confirmEmail()">
              <mat-icon>subdirectory_arrow_left</mat-icon>
            </button>
            <mat-hint align="end" style="color:red;">{{err}}</mat-hint>
          </mat-form-field>
        </div>
        <img class="news mr-3" src="../../../../assets/News.png">
        <span class="text-muted pcym">IMPORTANT PLEASE CHECK YOUR EMAIL</span><br>
      </div>

    </div>
  </div>
</div>
